{% extends 'base.html.twig' %}

{% block title %}Nous Contacter{% endblock %}

{% block body %}

    <h1>Nous contacter</h1>

<div class="form-group contact-form">

    {{ form_start(form) }}


    <div class="form-group formulaire col-10">

        <label for="lastname">{{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}</label>

        <label for="firstname">{{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}</label>
    </div>

    <div class="form-group col-10">
        <label for="email"  >{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}</label>
    </div>

    <div class="form-group col-10">
        <label for="content"  >{{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}</label>
    </div>

    <button type="submit" class="btn btn-secondary">Envoyer</button>

    {{ form_end(form) }}


</div>


{% endblock %}
